
# Python cache
__pycache__/
*.pyc

# Ignore all datasets inside any folder
**/data-set/
**/dataset/
**/datasets/

# Jupyter/Colab checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Temporary files
*.log
